body{
    background-color:#6497b1;
}
h1{
    background-color:#011f4b;
}
h2{
    background-color:#03396c;
}
h3{
    background-color: #005555;
}
h4{
    background-color:#005b96;
}
h5{
    background-color: #222f5b;
}
#si{
    background-color: #946b2d;
}
p{
    background-color:#b3cde0;
}