body{
    background-color:#ce8b54;
}
h1{
    background-color:#d2a56d;
}
h2{
    background-color:#96613d;
}
h3{
    background-color:#bd7e4a;
}
h4{
    background-color:#ffc238;
}
h5{
    background-color: #f07f13;
}
#si{
    background-color:#7a5501
}
p{
    background-color:#d2a56d;
}